<div class="container">
  <div class="index-title d-flex align-items-center">
    <% if current_user == @painting.user %>
      <h3 ><%= @painting.name%></h3>
      <%= link_to '<i class="far fa-trash-alt"></i></i>'.html_safe, painting_path(@painting),
                      method: 'delete',
                      data: {confirm: "Are you sure?"} %>
      <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_painting_path(@painting)%>
    <% else %>
      <h3 ><%= @painting.name%></h3>
    <% end %>
  </div>
  <p>By <%= @painting.artist%></p>

  <div class=" show-container row justify-content-around">

    <div class="image-container col-sm-12 col-lg-6">
        <%= cl_image_tag @painting.photo, crop: :limit%>
    </div>

    <div class=" show-card col-sm-12 col-lg-6">

          <div class=" user-avatar d-inline-flex flex-column align-items-center">
            <% if current_user == @painting.user %>
            <%= cl_image_tag @painting.user.photo, class: "avatar-bordered" %>
            <% else %>
            <%= image_tag "https://res.cloudinary.com/dtybbw7rx/image/upload/v1563288043/blank-profile-picture-973460_960_720_ws4cua.png", class: "avatar-bordered" %>
            <% end %>
            <p><%= @painting.user.first_name%> <%=@painting.user.last_name%> </p>
          </div>

          <div class="show-card-details">
            <h3> Details of this painting:</h3>
            <ul>
              <li> <strong>Year: </strong><%= @painting.year %> </li>
              <li> <strong>Style: </strong><%= @painting.style %> </li>
              <li> <strong>Description: </strong><%= @painting.description %> </li>
              <li> <strong>Price: </strong> $ <span class="painting_price"><%= @painting.price %></span></li>
              <li> <strong>Location: </strong> <%= @painting.location %> </li>
            </ul>
          </div>

          <div class="<%= current_user == @painting.user ? "price_container_invisible" : "price-container justify-content-around" %>">
            <h3>Pricing</h3>
            <form action="" method="get" class="dates_form">
                <div class="inputs d-flex justify-content-around">
                <input type="text" name="start_date" id="range_start" class="input-booking-form1 datepicker" placeholder="Enter start date">
                <input type="text" name="end_date" id="range_end" class="input-booking-form2 datepicker" placeholder="Enter end date">
                </div>

                <div class="price_wrapper d-flex justify-content-around">
                  <div class="total_price_container">
                    <div class="painting-pricing d-flex justify-content-between">
                      <p>Price</p>
                      <p id="price"></p>
                    </div>
                    <p id="calculation"></p>
                    <div class="painting-fees d-flex justify-content-between">
                      <p>Service Fee</p>
                      <p id="fees"></p>
                    </div>
                    <div class="total-pricing d-flex justify-content-between">
                      <p><strong>Total</strong></p>
                      <p id="total_price"></p>
                    </div>
                  </div>
                </div>

                <input type="submit" value="Add dates" class="btn btn_dates btn-block">
              </form>

              <%= simple_form_for [@painting, @booking] do |f| %>
                <%= f.input :start_date, as: :hidden, input_html: { value: "hello", id: "booking_start"}%>
                <%= f.input :end_date, as: :hidden, input_html: { value: "world", id: "booking_end"}%>
                <%= f.submit "Book", class: "btn btn_book btn-block"%>
              <% end %>
        </div>
       </div>
    </div>
</div>
