<div class="container">
  <div class="index-title d-flex align-items-center">
    <% if current_user == @painting.user %>
      <h3 ><%= @painting.name%></h3>
      <%= link_to '<i class="far fa-trash-alt"></i></i>'.html_safe, painting_path(@painting),
                      method: 'delete',
                      data: {confirm: "Are you sure?"} %>
      <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_painting_path(@painting)%>
    <% else %>
      <h3 ><%= @painting.name%></h3>
    <% end %>
  </div>
  <p>By <%= @painting.artist %></p>

  <div class=" show-container row justify-content-around">

    <div class="image-container col-sm-12 col-lg-6">
        <%= cl_image_tag @painting.photo, crop: :limit%>
    </div>

    <div class=" show-card col-sm-12 col-lg-6">

          <div class=" user-avatar d-inline-flex flex-column align-items-center">
            <%= image_tag "https://res.cloudinary.com/dtybbw7rx/image/upload/v1563288043/blank-profile-picture-973460_960_720_ws4cua.png", class: "avatar-bordered" %>
            <p><%= @painting.user.first_name%> <%=@painting.user.last_name%> </p>
          </div>

          <div class="show-card-details">
            <h3> Details of this painting:</h3>
            <ul>
              <li> <strong>Year: </strong><%= @painting.year %> </li>
              <li> <strong>Style: </strong><%= @painting.style %> </li>
              <li> <strong>Description: </strong><%= @painting.description %> </li>
              <li> <strong>Price: </strong> $<%= @painting.price %> </li>
              <li> <strong>Location: </strong> <%= @painting.location %> </li>
            </ul>
          </div>

          <div class="d-flex price-container justify-content-around">
            <div class="total_price">
              <h3>The total price for your booking is: <strong>$ <%= @total_price %></strong></h3>
              <p>(<%= @duration %> days at <%= @painting.price %> per day)</p>

              <%= simple_form_for [@painting, @booking] do |f| %>
                <%= f.input :start_date, as: :hidden, input_html: { value: @start_date } %>
                <%= f.input :end_date, as: :hidden, input_html: { value: @end_date } %>
                <%= f.submit "Book Painting", class: "btn btn-primary"%>
              <% end %>

              <!-- <button onclick="bookingAlert()"><%#= link_to "Book painting", painting_path(@painting)%></button>
              <script>
              function bookingAlert() {
                alert("Your booking has been created! Your painting will be with you shortly.");
              }
              </script> -->
            </div>
          </div>
    </div>
  </div>
</div>
