<%# raise %>
<div class="cards">
  <% user_bookings_to_confirm.each do |booking| %>
    <%#= link_to painting_path(booking.painting) do %>
      <div class="painting-card" id="booking-<%=booking.id%>">
        <img src="<%=booking.painting.photos.first.data%>" >
        <div class="painting-card-infos">
          <div>
            <h3><%=booking.painting.name%></h3>
            <p>Total Price $<%=booking.total_price%></p>
            <p> Dates: <%=booking.start_date%> to <%= booking.end_date %></p>
          </div>
          <div class="painting-card-actions">
            <% if booking.confirmed.nil? %>
              <%= link_to painting_path(booking.painting) do %>
                <button type="button" class="btn btn-outline-warning" id="confirm"><i class="fas fa-info-circle"></i></button>
              <% end %>
              <%= link_to painting_booking_path(painting_id: booking.painting, id: booking, confirmed: true), method: :patch, :remote => true do %>
                <button type="button" class="btn btn-outline-success" id="confirm"><i class="fas fa-check"></i></button>
              <% end %>
              <%= link_to painting_booking_path(painting_id: booking.painting, id: booking, confirmed: false), method: :patch, :remote => true do %>
                <button type="button" class="btn btn-outline-danger" id="confirm"><i class="fas fa-times"></i></button>
              <% end %>
            <% elsif booking.confirmed %>
              <button type="button" class="btn btn-outline-success disabled">You confirmed</button>
            <% else %>
              <button type="button" class="btn btn-outline-danger disabled">You denied</button>
            <% end %>
            <%# raise %>
          </div>
        </div>
      </div>
    <% end %>
</div>

