<%# raise %>
<% if  %>
  <div class="cards">
      <% user_bookings.each do |booking| %>
        <%= link_to painting_path(booking.painting) do %>
          <div class="painting-card">
            <img src="<%=booking.painting.photos.first.data%>" >
            <div class="painting-card-infos">
              <div>
                <h3><%=booking.painting.name%></h3>
                <p>Total Price $<%=booking.total_price%></p>
                <p><%=booking.start_date%> to <%= booking.end_date %></p>
              </div>
              <div class="painting-card-actions">
                <% if booking.confirmed.nil? %>
                  <button type="button" class="btn btn-outline-secondary disabled">Pending</button>
                <% elsif booking.confirmed %>
                  <button type="button" class="btn btn-outline-success disabled">Confirmed</button>
                <% else %>
                  <button type="button" class="btn btn-outline-danger disabled">Denied</button>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>

