<% date = DateTime.new %>
<div class="dashboardbanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2215&q=80;">
  <div class="container">
    <h1><%= current_user.first_name %>'s Dashboard</h1>
    <p>Hey there, happy <%= date.strftime(format="%A") %>!</p>

    <!-- <form action="<%= paintings_path %>" method="get" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="  Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Discover</button>
    </form> -->
  </div>
</div>
<%# raise %>
<div class="index">
  <h3 class="index-title">Your Paintings:</h3>
  <%= render "pages/index", user_paintings: current_user.owned_paintings %>
</div>

<div class="index">
  <h3 class="index-title">Your Bookings:</h3>
  <%= render "pages/index", user_paintings: current_user.booked_paintings %>
</div>

<div class="index">
  <h3 class="index-title">To Confirm:</h3>
  <%= render "pages/index", user_paintings: current_user.bookings.to_confirm %>
</div>


<%# raise %>
<!-- display none -->
<!-- three buttons -->
<!-- event listener on three buttons for click -->
<!-- once clicked, display block -->
